.logo-img{
    width: 95px;
    height: 100%;
}

.contact-button{
    background: #1E776E 0% 0% no-repeat padding-box;
    border-radius: 6px;
    font-family: 'Roboto';
    padding: 7px 30px;
    font-size: 12px;
}