.app-upper-part{
  height: 60vh;
  background-color: #2FC8B8;
}

.updates-title{
  font-size: 2.8rem;
  font-family: 'Bebas Neue';
  font-weight: 400;
}

.search-title{
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 12px;
}

.search-form{
  height: 38px;
  background: white;
  width: 40%;
  margin: auto;
  border-radius: 5px;
}

.choose-date{
  font-size: 12px;
    font-weight: 700;
    font-family: 'Roboto';
    padding-left: 24px;
    outline: none;
}

.search-form button{
  background: #1e776e;
  color: white;
  font-size: 12px;
  padding: 0 16px;
  border-radius: 0;
  border: 1px solid white;
  font-family: 'Roboto';
  font-weight: 700;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.country-brief-data{
  width: 76%;
  margin: auto;
  height: 20.6vh;
  background: #1e776e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.country-detailed-data{
  width: 76%;
  margin: auto;
  /* height: 20.6vh; */
  background: #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 3px 16px #0000001f;
}


.country-brief-data h1{
  color: #2FC8B8;
    font-size: 50px;
    font-family: 'Roboto';
    font-weight: 300;
}

.country-brief-data p{
  color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
}

.country-brief-data div{
  /* width: 16.6%; */
}

.country-detailed-data h1{
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 30px;
  color: #2FC8B8;
}

.country-detailed-data .small-text{
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 700;
    padding: 6px;
}

.country-detailed-data .small-numbers{
  font-size: 12px;
    color: #888888;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    padding: 6px;
}

.per-continent-title{
  font-family: 'Bebas Neue';
    font-size: 33px;
    font-weight: 500;
}

.continent-container{
  box-shadow: 0 3px 16px #0000001F;
}

.continent-container .right-part{
  background-color: #2FC8B8;
  /* height: 44vh; */
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.continent-container .left-part{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.continent-container .left-part h1{
  font-family: 'Bebas Neue';
  font-size: 23px;
}

.continent-container .left-part h2{
  color: #2FC8B8;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 300;
}

.continent-container .left-part h3{
  font-weight: 700;
  font-size: 13px;
  font-family: 'Roboto';
}

.continent-container .left-part h4{
  font-weight: 200;
  font-family: 'Roboto';
  font-size: 13px;
  color: #888888;
}

.continent-container .right-part h1{
  font-family: 'Roboto';
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 300;
}

.continent-container .right-part h4{
  font-size: 9px;
  font-family: 'Roboto';
  font-weight: 700;
  color: black;
}

.continent-container .right-part h2{
  text-align: center;
    font-size: 10px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 100;
}

.continent-container .right-part div{
  padding-bottom: 23px;
}

.continent-container .right-part div:first-child,
.continent-container .right-part div:nth-child(2)
{
    border-bottom: 1px solid #0000001f;
}

.my-image{
  background: url('./assets/images/NTWARI Egide.jpg');
  background-size: cover;
  height: 84vh;
}

.my-portifolio{
  background: #EEF6F6;
  height: 84vh;
}

.my-portifolio h1{
  font-family: 'Bebas Neue';
  font-size: 41px;
}

.my-portifolio .skills{
  font-size: 15px;
  text-align: justify;
  padding-right: 72px;
  font-family: 'Roboto';
  font-weight: 500;
}

.my-portifolio .date{
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 200;
}

.my-portifolio .link{
  border-bottom: 1px solid #00000061;
  padding-bottom: 5px;
}

.footer{
  height: 52vh;
  background: #1E776E;
  border-bottom: 10px solid #0b3833;
}

.footer h1{
  font-family: 'Bebas Neue';
  font-size: 27px;
  font-weight: 500;
  color: #FFFFFF;
}

.footer h2{
  color: white;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 700;
}

.footer h3{
  font-family: 'Roboto';
  font-weight: 300;
  color: white;
  font-size: 13px;
}