.app-upper-part{
  height: 50vh;
  background-color: #2FC8B8;
}

.updates-title{
  font-size: 2.8rem;
  font-family: 'Bebas Neue';
  font-weight: 400;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
